Flask==2.3.3
Flask-SQLAlchemy==3.0.5
Flask-Login==0.6.3
Flask-WTF==1.1.1
Werkzeug==2.3.7
python-dotenv==1.0.0
email-validator==2.0.0
requests==2.31.0
weasyprint==60.2
PyBluez==0.23
python-escpos==3.0a8
gunicorn==22.1.0 